h1 {
    margin-inline: auto;
    margin-top: 100px;
    width: 700px;
    color: aliceblue;
    border: solid;
    padding-left: 50px;


}

button {
    display: block;
    width: 150px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

}

.empty-square {
    width: 250px;
    height: 80px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(213, 218, 228);
}

body {
    background-color: rgb(53, 38, 66);
}

#numberPlaceHolder {
    font-size: 30px;
    margin-left: 80px;


}